*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        
}
header {
    grid-area: header_area;
}
main {
    grid-area: main_area;
}

footer {
    grid-area: footer_area;
}

body{
    background-color: black;
}

aside {
    grid-area: aside_area;
}

@media (max-width:480px){
    body{
        display: grid;
        grid-template-areas:
        'header_area'        
        'main_area'
        'nav_area'
        'aside_area'
        'footer_area';
        max-width: 100vw;
    }

    *{
        max-width: 100%;
    }
}
@media (min-width:481px){
    body{
        display: grid;
        grid-template-areas:
        'header_area header_area'        
        'main_area main_area'
        'nav_area aside_area'
        'footer_area footer_area';
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding:20px;
    margin: 10px;
}

h2{

    margin-bottom:20px;
}
nav{
    
    margin: 10px;
}

#poema_imagem{
    padding:10px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}
#poema p {
    margin: 0;
    
}
#introducao{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    
    height: 100%;
    
}
aside{
    margin: 10px;

}
#laboratorios{
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    
    
    
}
#todosp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;   

}
#laboratorios p{    
    justify-content: center;
    border-radius: 5px;    
    padding: 10px; 
    margin:10px;   
}

#laboratorios p:nth-child(2n){
    background-color: lightgrey;

}

#laboratorios p:nth-child(2n+1){

    background-color: grey;
}
#laboratorios a{
    text-decoration: none;
    color: white;
}
#laboratorios p:hover{
    text-decoration: none;
    background-color: black;
}

footer{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    
}

#introducao li{
    margin-left:40px;
}