body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4a0a70;
    color: white;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

#produtos, #carrinho {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
}

#lista-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#lista-produtos li {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#lista-produtos li img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
}

#lista-produtos li h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#lista-produtos li p {
    margin-bottom: 10px;
    text-align: center;
    color: #555;
}

#lista-produtos li button {
    padding: 10px;
    background-color: #4a0a70;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

#lista-produtos li button:hover {
    background-color: #3a085a;
}

#itens-carrinho li {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#itens-carrinho li h4 {
    margin: 0;
}

button {
    background-color: #4a0a70;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3a085a;
}