body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
}

header {
    background-color: #ff5722;
    padding: 20px 0; /* Padding geral (aplica o mesmo valor a todos os lados) */
    text-align: center;
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0; /* Aplica a mesma margem para todos os lados */
}


nav ul li a {
    color: white;
    padding: 10px 20px; /* primeiro valor e para o topo, o segundo esquerda e direita */
    font-weight: bold;
    margin: 0;
}

h3{
    color: #ff5722;
    padding: 20px; /* Padding geral (aplica o mesmo valor a todos os lados) */
    text-align: center;
    background-color: #333;
    margin: 0;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin: 0;
}

