* {
    margin:0;  
    padding:20;  
    box-sizing: border-box; /* medidas sao tomadas da borda */
}

header{
    font-family: Arial;
    position: sticky; /* o cabeçalho fica smp a vista*/
    background: #FF6347;
    padding: 20px;
    /* alinhando logo e menu */
    display:flex;
    justify-content: space-between;  
    align-items: center;
    margin: 0;
}

#poema{
    text-align: center;
}
nav ul {
    display: flex; /* flex = seguido*/
    list-style-type: none;
  }

nav ul li a {
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: #333; /* Cor de fundo padrão para os links */
  }

  /* Estilo para o último link */
  nav ul li:last-child a {
    background-color: #d9b110; /* Cor de fundo diferente (tomate) para o último link */
  }