body{
    background-color: ghostwhite;
}

.title-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    background-color: gainsboro;
    padding: 15px;
    margin: 3px;
}   

.poema{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: left;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 10;
    height: 33vh;
    width: 98vw;
    padding-top: 5px ;
    padding-bottom: 5px;
    margin: 5px
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
}


.labscontainer{
    display: flex; 
    gap: 20px;
    width: 100%; 
    margin: 0 auto;
}
.labstodos{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 10px;
   
}

.introducao1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #FFFFFF;
    width: 25vw;
    padding: 5px;
    border-radius: 10px;
}


.butoes button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.butoes button:nth-child(odd){
    background-color:dimgrey;
}

.butoes button:hover {
    background-color: #000000;
    color: #ddd;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    text-align: center;
    padding: 20px;
    margin: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: black;
}
