/* Estilos para dispositivos móveis (largura máxima de 600px) */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 10px 0;
    }

    nav ul {
        flex-direction: column; /* Navegação em coluna para ocupar menos espaço */
    }

    nav ul li a {
        padding: 8px 0;
        font-size: 14px;
    }

    #fotografias h3, #video h3, #poema h3 {
        font-size: 20px;
    }

    #video iframe {
        width: 100%;
        height: auto;
    }
}

/* Estilos para tablets (largura entre 601px e 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    header {
        padding: 15px 0;
    }

    nav ul {
        padding: 10px;
    }

    nav ul li a {
        padding: 10px;
    }

    #fotografias h3, #video h3, #poema h3 {
        font-size: 22px;
    }

    #video iframe {
        width: 80%;
        height: auto;
    }
}

/* Estilos para desktops (largura mínima de 1025px) */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    header {
        padding: 20px 0;
    }

    nav ul {
        padding: 20px;
    }

    nav ul li a {
        padding: 10px 20px;
    }

    #fotografias h3, #video h3, #poema h3 {
        font-size: 24px;
    }

    #video iframe {
        width: 60%;
        height: auto;
    }
}
